.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/climate/.DS_Store
data/climate/.DS_Store
data/climate/wc2-5/bio1.bil
data/climate/wc2-5/bio1.hdr
data/climate/wc2-5/bio10.bil
data/climate/wc2-5/bio10.hdr
data/climate/wc2-5/bio11.bil
data/climate/wc2-5/bio11.hdr
data/climate/wc2-5/bio12.bil
data/climate/wc2-5/bio12.hdr
data/climate/wc2-5/bio13.bil
data/climate/wc2-5/bio13.hdr
data/climate/wc2-5/bio14.bil
data/climate/wc2-5/bio14.hdr
data/climate/wc2-5/bio15.bil
data/climate/wc2-5/bio15.hdr
data/climate/wc2-5/bio16.bil
data/climate/wc2-5/bio16.hdr
data/climate/wc2-5/bio17.bil
data/climate/wc2-5/bio17.hdr
data/climate/wc2-5/bio18.bil
data/climate/wc2-5/bio18.hdr
data/climate/wc2-5/bio19.bil
data/climate/wc2-5/bio19.hdr
data/climate/wc2-5/bio2.bil
data/climate/wc2-5/bio2.hdr
data/climate/wc2-5/bio3.bil
data/climate/wc2-5/bio3.hdr
data/climate/wc2-5/bio4.bil
data/climate/wc2-5/bio4.hdr
data/climate/wc2-5/bio5.bil
data/climate/wc2-5/bio5.hdr
data/climate/wc2-5/bio6.bil
data/climate/wc2-5/bio6.hdr
data/climate/wc2-5/bio7.bil
data/climate/wc2-5/bio7.hdr
data/climate/wc2-5/bio8.bil
data/climate/wc2-5/bio8.hdr
data/climate/wc2-5/bio9.bil
data/climate/wc2-5/bio9.hdr
data/climate/wc2-5/bio_2-5m_bil.zip
